.ku{
	width: 50% ;
	margin-right: 999px;
}
.kuy{
		border: 5px black solid;

	margin-top: -30px;
	width: 19% ; 
	margin-right: 999px;
	border-style: solid;
}
.are{width: 20% ;
	margin-right: 999px;
	border: 5px black solid;

}
.herere{
	width: 50% ; 
	margin-right: 999px;
	border-style: solid;
}
.IMG{

   width:175px;
   height: 175px;
   border-radius: 50%;
}
